<%= text_field_tag "search_available_origins", nil, :placeholder => "Too lazy to scroll.." %>
<br />
<div class="genres">
<% @available_origins.each do |origin_genre| %>
	<div class="origin_genre">
		<%= link_to "Add", {:controller => :genres,
			:action => :update_origin_genres, :id => @genre[:id], 
			:origin_genre_id => origin_genre[:id], :update => "add"}, :class => "add", :remote => true %>
		 | <%= link_to origin_genre.name, edit_genre_path(origin_genre), :class => "name" %>
	</div>
<% end %>
</div>

<script type="text/javascript">
		// $("#search_available_origins").unbind("keyup input paste");
		$("#search_available_origins").bind("keyup input paste", function(){
		    var search_text = $(this).val().toUpperCase();
		    $(".origin_genre").hide().filter(function(){
		        return $(this).find(".name").text().toUpperCase().indexOf(search_text) != -1
		    }).show();
			return false;     
		});

		$(".origin_genre .add").unbind("click");
		$(".origin_genre .add").bind("click", function(){
			// remove from this list, add to other list, change the link
			$("#current_genres .genres").append($(this).parent());
			$(this).remove();
		});
</script>