<div class="genres">
<% @current_origins.each do |origin_genre| %>
	<div class="origin_genre">
		<%= link_to "Remove", {:controller => :genres,
			:action => :update_origin_genres, :id => @genre[:id],
			:origin_genre_id => origin_genre[:id], :update => "remove"}, :class => "remove", :remote => true %>
		 | <%= link_to origin_genre.name, edit_genre_path(origin_genre) %>
	</div>
<% end %>
</div>

<script type="text/javascript">

		$(".origin_genre .remove").unbind("click");
		$(".origin_genre .remove").bind("click", function(){
			// remove from this list, add to other list, change the link
			$(this).parent().remove();
		});
</script>