<div class="tracks">
	<% @current_tracks.each do |track| %>
		<div class="track">
			<%= link_to "Remove", {:controller => :genres,
				:action => :update_tracks, :id => @genre[:id],
				:track_id => track[:id], :update => "remove"}, :class => "remove", :remote => true %>
			 | <%= link_to track.name, edit_track_path(track) %>
			by 
			<%= link_to track.artist.name, edit_artist_path(track.artist) %>
		</div>
	<% end %>
</div>

<script type="text/javascript">

		$(".track .remove").unbind("click");
		$(".track .remove").bind("click", function(){
			// remove from this list, add to other list, change the link
			$(this).parent().remove();
		});
</script>