/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
 }*/
html, body{
	padding: 0px;
	margin: 0px;
	background: white;
}
.debug_panel{
	position:fixed;
	top:30px;
	left:0px;
	z-index: 10;
}
/*
	GRAHPICAL ELEMENTS
*/

  line, .line {
  	position: absolute;
	height: 1px;
    background: black;
    margin: 0px;
    z-index: 0;
      stroke: #333;
	  stroke-opacity: 0.5;
	  pointer-events: none;
  }​

  .genre{
  	z-index: 1;
  }

  svg{
  	width: 3000px;
  	height: 3000px;
  }
  .svg_container{
  	position: fixed;
  	z-index: 0;
  	top: 0px;
  	bottom: 0px;
  	right: 0px;
  	left: 0px;
  	overflow: auto;
  }

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


marker#trance {
  fill: lightblue;
}

path.link.direct {
  stroke: black;
}
path.non_electronic{
	stroke-dasharray: 0,2 1;
}

text.hull{
	font-size: 28px;
	opacity: 0.5;
}

rect {
  fill: #ddd;
  stroke: #333;
  stroke-width: 1.5px;
  	border: 1px solid #f4f4f4;
	background: #f4f4f4;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	  font: 10px sans-serif;
}
rect.sub_genre{
}

rect.super_genre{
	stroke-width: 1px;
	fill: #62D6E9;
	stroke: #000;
}

rect.super_genre.active{
	fill: #FB8520;
	stroke: #333;
}

rect.non_electronic{
	fill: white;
	stroke-dasharray: 0,2 1;

}

text.super_genre{
	font-size: 12px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
  pointer-events: none;
}

/* 
	END GRAPHICAL ELEMENTS
*/
/* 
	DOM LAYOUT
*/
.stop_playback {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 10;
	cursor: pointer;
	display: none;

	background: #C83328;
	color: white;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #D9D9D9;
	color: white;
	border-bottom: 1px solid silver;
}

.information{
	width: 350px;
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 10px;
	padding-top: 20px;	
	left: 0px;
	bottom: 0px;
	border: 1px solid #E5E5E5;
	background: #f4f4f4;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.information .author {
	display: block;
	padding-left: 40px;
}
.information .disclaimer {
	margin-top: 40px;
}
.information .disclaimer .claimer{

}
.information .signin{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.graph_container{
	position: fixed;
	top: 30px;
	left: 350px;
}
.toolbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #2d2d2d;
	padding: 5px;
	border-bottom: 1px solid black;
	z-index: 2;
}
.toolbar .toolbar_item {
	padding: 0px 10px;
}
.toolbar .toolbar_item a,
.toolbar .toolbar_item a:visited{
	color: white;
	text-decoration: none;
}
.toolbar .toolbar_item a:hover{
	color: gray;
	background: none;
}
.search_container input[type="text"] {
	border: 1px solid #D9D9D9;
	border-bottom: 1px solid silver;
	font-size: 16px;
	height: 26px;
	padding: 1px 0 1px 8px;
	width: 250px;
	outline: none;
	position: fixed;
	z-index: 3;
	top: 20px;
	right: 20px;
}

.search_container input[type="text"]:focus{
	-moz-box-shadow: 
		0 1px 3px rgba(150,150,255,0.5);
	-webkit-box-shadow:
		0 1px 3px rgba(150,150,255,0.5);
	box-shadow: 
		0 1px 3px rgba(150,150,255,0.5);}

.repulsion_slider{
	position: fixed;
	z-index: 3;
	right: 20px;
	top: 52px;
}
.repulsion_slider input{
	width: 258px;
}
 input[type="range"]{

 }

 input[type="range"]::-webkit-slider-thumb{
   
 }
.interface_options{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;

}
.interface_options a{
	background: #55B7C8;
	color: white;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #D9D9D9;
	color: white;
	border-bottom: 1px solid silver;
}
.interface_options a:hover,
.interface_options a:active{
	background: #45a7b8;
	color: white;
}

.genre_details{
}

.genre_details .content{
	border: 1px solid #E5E5E5;
	background: #f4f4f4;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.genre_details .header{
	display: block;
	padding: 5px;
	background: #55B7C8;
	color: white;
	font-weight: bold;
	height: 20px;
	min-width: 300px;
	cursor: pointer;
}
.genre_details .body{
	padding: 5px;
	padding-bottom: 0px;
}
	.genre_details .name{
		margin-right: 70px;
		display: inline-block

	}
	.genre_details .close{
		position: absolute;
		top: 4px;
		right: 8px;
		cursor: pointer;
	}
	.genre_details .description{
		max-width: 843px;
	}

	.genre_details .wiki{
		font-size: 10px;
		display: block;
		text-align: right;
	}
.genre_details .examples{
	margin: 5px;
}
.genre_details .examples span{
	background: white;
	border: 1px solid silver;
	padding: 0px 5px;
	margin: 5px;
	cursor: pointer;
}

.example_title{
	display: block;
}
/*
	END DOM LAYOUT
*/

/* 
	Centering verticalyl and horizontally

*/

.super_container{
	position: fixed;
	z-index: 3;
	top: 10%;
	width: 100%;
	left: 0px;
}
.super_container .background{
	position:fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}
.super_container .container{
	float: left;
	position: relative;
	left: 50%;
}
.super_container .container .content{
	float: left;
	position: relative;
	left: -50%;
	top: 10%;

}
/*
	end center
*/


/* dark scrollbar */	
/**::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border: 1px solid black;
	background: rgb(41,41,41);
	border-radius: 10px;
	margin: 10px;
}
*::-webkit-scrollbar-thumb{
	border-radius:10px;
	height: 30px;
	width: 8px;
	border: 1px solid black;
	background: rgb(111,111,111);
	box-shadow: 0 1px 1px rgb(0,0,0);
	background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

*::-webkit-scrollbar-track-piece {
	height: 30px;
}*/

/* light scrollbar */ 
*::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border: 1px solid #777;
	background: white;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 1px solid #777;
	background: #DADADA;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
