/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body{
	padding: 0px;
	margin: 0px;
}
.toolbar {
	background: #2d2d2d;
	padding: 5px;
	border-bottom: 1px solid black;
}
.toolbar .toolbar_item {
	padding: 0px 10px;
}
.toolbar .toolbar_item a,
.toolbar .toolbar_item a:visited{
	color: white;
	text-decoration: none;
}
.toolbar .toolbar_item a:hover{
	color: gray;
	background: none;
}

.search_container input[type="text"] {
	border: 1px solid #D9D9D9;
	border-bottom: 1px solid silver;
	font-size: 16px;
	height: 26px;
	padding: 1px 0 1px 8px;
	width: 250px;
	outline: none;
	position: fixed;
	top: 20px;
	right: 20px;
}

.search_container input[type="text"]:focus{
	-moz-box-shadow: 
		0 2px 3px rgba(150,150,255,0.5);
	-webkit-box-shadow:
		0 2px 3px rgba(150,150,255,0.5);
	box-shadow: 
		0 2px 3px rgba(150,150,255,0.5);}

.attribute{
	display: block;
}

