<script type="text/javascript">
	var genres = <%= @data.html_safe %>;
	var links = <%= @connections.html_safe %>;
</script>

<div class="debug_panel">

</div>


<div class="search_container">
	<%= text_field_tag 'search', nil, :placeholder => 'Search...' %>
</div>

<div class="information">
	<div class="welcome">
		<h2>Electronic Music Genre Graph</h2>
		<div class="authors">
			<span class="author">
				L. Preston Sego III
			</span>
			<span class="author">
				Evan Kirsch
			</span>
		</div>
		<div class="development_info">

		</div>
	</div>
	<div class="disclaimer">
		Disclaimer:
	</div>
</div>
