<script type="text/javascript">
	tree = <%= @tree.html_safe %>;
</script>

<div class="search_container" style="display: none;">
	<!-- @TODO NOT IMPLEMENTED YET -->
	<%= text_field_tag 'search', nil, :placeholder => 'Search...' %>
</div>
<div class="interface_options">
	<a href="#" class="hide"><i class="icon-info-sign"></i></a>
</div>


<div class="genre_details super_container" style="display: none;">
	<div class="container">
		<div class="content">
			<div class="header">
				<span class="name">

				</span>
				<span class="close">
					<i class="icon-remove-sign"></i>
				</span>
			</div>
			<div class="body">
				<iframe id="description"></iframe>
				<span class="wiki">
					<a href="#">Wikipedia Info</a>
				</span>
				<span class="example_title">
					Top Tracks (by <a href="http://last.fm">last.fm</a>)
				</span>
				<div class="examples">

				</div>
				<div class="theater">

				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal_outer_container information" style="display: none;">
	<div class="modal_container">
		<div class="content">
			<div class="header">
				Electronic Music Genre Graph
				<span class="close">
					<i class="icon-remove-sign"></i>
				</span>
			</div>
			<div class="body">
				<span class="author">
					by: Preston Sego
				</span>
				<div class="disclaimer">
					<h4>Disclaimer:</h4>
					<div class="claimer">
						This site is desigened with Webkit-based browsers on 1080p+ monitors.<br />
						For best results: use a modern browser (FireFox 13+, Chrome 20+, Safari 5+), and use a resolution that is 1920 by 1080 pixels or greater.

						<p>
							The audio is pulled from <a href="http://last.fm">last.fm</a> by their tagging system. Since the tagging system is controlled by their userbase, it may not be accurate. While most genre's examples will have accurate samples, others may be completly wrong (for example, the examples for trancecore are all screamo... which isn't trancecore in teh silghtest :-P 
						</p>
					</div>
				</div>
				<div class="instructions_container">
					<h4>Instructions:</h4>
					<div class="instructions">
						<p>Click on a node to view details about the genre and expand that genre's sub genres. </p> 
					</div>
				</div>
				<div class="credits_container">
					<h4>Credits</h4>
					<div class="credits">
						<p>
							<a href="http://www.ishkur.com/">Ishkur</a> and his <a href="http://techno.org/electronic-music-guide/">Electronic Music Guide</a>.
						</p>
						<p>
							<a href="http://last.fm">last.fm</a> for hosting the Audio used for this project.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>