<script type="text/javascript">
	var genres = <%= @genres.html_safe %>;
</script>

<%= javascript_include_tag "genre-map" %>


<div class="search_container">
	<%= text_field_tag 'search', nil, :placeholder => 'Search...' %>
</div>


<canvas id="viewport" width="1000" height="600" style="position: relative; top: 0px; bottom: 0px; right: 0px; left: 0px;"></canvas>